In [1]:
import pandas as pd

In [154]:
file1 = open('input.txt', 'r')
#file1 = open('input.txt', 'r')
Lines = file1.readlines()

input_len = len(Lines[0].replace('\n',''))

bits_arr = []
for i in range(0,input_len):
    bits_arr.append([])
for ele in Lines:
    ele_str = ele.replace('\n','')
    for i in range(0,input_len):
        bits_arr[i].append(int(ele_str[i]))

gamma_rate_str = ''
epsilon_rate_str = ''
for ele in bits_arr:
    ones = 0
    zeros = 0
    for bit in ele:
        if bit == 1:
            ones += 1
        if bit == 0:
            zeros += 1    
    if ones > zeros:
        gamma_rate_str +='1'              
        epsilon_rate_str += '0'
    else:
        gamma_rate_str +='0'              
        epsilon_rate_str += '1'        

print(gamma_rate_str)                    
print(epsilon_rate_str)                    
print('------')  
print(int(gamma_rate_str,2))
print(int(epsilon_rate_str,2))
print('------')  
print('result: ' , int(gamma_rate_str,2)*int(epsilon_rate_str,2))

numbers = []
for ele in Lines: 
    numbers.append([int(c) for c in ele.replace('\n','')] )
df = pd.DataFrame(data=numbers)


def validateDF(input_df,index):
    if len(input_df) == 1:
        return input_df
    else:
        if (input_df[index].sum() / input_df[index].count() >= 0.5):
            return validateDF(input_df[input_df[index]==1],index+1)
        else:
            return validateDF(input_df[input_df[index]==0],index+1)


def validateDF_2(input_df,index):
    if len(input_df) == 1:
        return input_df
    else:
        if (input_df[input_df[index]==1].count() >= input_df[input_df[index]==0].count())[0]:
            return validateDF_2(input_df[input_df[index]==0],index+1)
        else:
            return validateDF_2(input_df[input_df[index]==1],index+1)


helper_df = df
result_1 = validateDF(helper_df,0)

helper_df = df
result_2 = validateDF_2(helper_df,0)

print('------')  
result_1_str = ''
for ele in result_1.iloc()[0]:
    result_1_str += str(ele)
print('result_1_str',result_1_str)    
print('result_1_str',int(result_1_str,2))    
print('------')  
result_2_str = ''
for ele in result_2.iloc()[0]:
    result_2_str += str(ele)
print('result_2_str',result_2_str)    
print('result_2_str',int(result_2_str,2))    
print('------')  
print('endresult: ', int(result_2_str,2)*int(result_1_str,2))

101000000110
010111111001
------
2566
1529
------
result:  3923414
------
result_1_str 101101100111
result_1_str 2919
------
result_2_str 011111010101
result_2_str 2005
------
endresult:  5852595

In [151]:
result_1_str = ''
for ele in result_1.iloc()[0]:
    result_1_str += str(ele)
print('result_1_str',result_1_str)    
print('result_1_str',int(result_1_str,2))

result_1_str 10111
result_1_str 23

In [72]:
def validateDF(input_df,index):
    if len(input_df) == 1:
        return input_df
    else:
        if (input_df[index].sum() / input_df[index].count() >= 0.5):
            return validateDF(input_df[input_df[index]==1],index+1)
        else:
            return validateDF(input_df[input_df[index]==0],index+1)

In [139]:
def validateDF_2(input_df,index):
    if len(input_df) == 1:
        return input_df
    else:
        if (input_df[input_df[index]==1].count() >= input_df[input_df[index]==0].count())[0]:
            return validateDF_2(input_df[input_df[index]==0],index+1)
        else:
            return validateDF_2(input_df[input_df[index]==1],index+1)

In [140]:
validateDF_2(helper_df,0)

    0  1  2  3  4
11  0  1  0  1  0

In [122]:
helper_df = df
result_1 = validateDF(helper_df,0)

In [89]:
result_1

   0  1  2  3  4
3  1  0  1  1  1

In [93]:
result_1_str = ''
for i in range(0,input_len):
    result_1_str += str(result_1[i])
print('result_1_str:',result_1_str)    
#print('result_1_int:',int(result_1_str,2))

result_1_str: 3    1
Name: 0, dtype: int643    0
Name: 1, dtype: int643    1
Name: 2, dtype: int643    1
Name: 3, dtype: int643    1
Name: 4, dtype: int64

In [85]:
helper_df = df
validateDF_2(helper_df,0)

   0  1  2  3  4
6  0  0  1  1  1

In [95]:
df

    0  1  2  3  4
0   0  0  1  0  0
1   1  1  1  1  0
2   1  0  1  1  0
3   1  0  1  1  1
4   1  0  1  0  1
5   0  1  1  1  1
6   0  0  1  1  1
7   1  1  1  0  0
8   1  0  0  0  0
9   1  1  0  0  1
10  0  0  0  1  0
11  0  1  0  1  0

In [98]:
df[1].sum() / df[1].count() >= 0.5

False

In [97]:
df[df[0]==0]

    0  1  2  3  4
0   0  0  1  0  0
5   0  1  1  1  1
6   0  0  1  1  1
10  0  0  0  1  0
11  0  1  0  1  0